.vjs-poster {
    background-image: url('https://qmsxpletkp-prd.ksysweb.com/uploads/2020/03/8bcef68e0bc26b0526c98ba20908aa30/gettyimages-802763830-1.jpg') !important;
}
.video-js .vjs-dock-text {
    height: 100%;
    background: linear-gradient(180deg, rgba(53, 53, 53, 0.8) 17.48%, rgba(196, 196, 196, 0) 100%);
}
.vjs-fullscreen.video-js .vjs-dock-text {
    display: none;
}
.video-js .vjs-dock-title {
    font-family: Arial , sans-serif;
    font-weight: 700;
    font-size: 23px;
    line-height: 31px;
    letter-spacing: 0.1px;
    padding: 20px 40px 10px 40px;
}

.video-js .vjs-dock-description {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.1px
}

.vjs-play-control, .vjs-mute-control {
    padding: 7px 15px;
    border-radius: 0
}

.vjs-time-control .vjs-current-time-display, .vjs-time-control .vjs-duration-display, .vjs-time-control.vjs-time-divider {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    line-height: 21px;
    padding: 5px;
    margin: 0
}


.vjs-big-play-button {
    width: 122px;
    height: 122px;
    line-height: 122px
}

.vjs-has-started .vjs-control-bar {
    font-size: 15px
}

.vjs-modal-dialog .vjs-modal-dialog-content {
    font-family: Arial, sans-serif;
}


.vjs-time-control.vjs-current-time {
    display: flex;
    align-items: center
}

.vjs-remaining-time {
    display: none
}